<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = '404 - 页面未找到', content = ~{::content}, head = ~{::head})}"
>
  <th:block th:fragment="head">
    <link rel="stylesheet" th:href="@{/assets/css/error.css}" />
  </th:block>
  <th:block th:fragment="content">
    <div class="error-page">
      <div class="container">
        <div class="error-content" data-aos="fade-up">
          <div class="error-code-gradient">404</div>
          <h1 class="error-title">页面走丢了</h1>
          <p class="error-description">
            抱歉，您访问的页面似乎不存在
            <br />
            可能是链接失效了，或者输入了错误的地址
          </p>
          <div class="error-actions">
            <a href="javascript:history.back()" class="error-btn">&lt; 返回上一页</a>
            <a th:href="@{/}" class="error-btn">返回首页 &gt;</a>
          </div>
        </div>
      </div>
    </div>
  </th:block>
</html>
