<!doctype html>
<html th:lang="${#locale.toLanguageTag}" th:fragment="layout (title,head,body)">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
    <title th:text="${title}"></title>
    <link
      rel="icon"
      th:href="${theme.config.basic.favicon != null && !#strings.isEmpty(theme.config.basic.favicon) ? theme.config.basic.favicon : (site.favicon != null && !#strings.isEmpty(site.favicon) ? site.favicon : '/themes/theme-crayon-shinchan/assets/public/ics6.webp')}"
    />
    <th:block th:replace="~{gateway_fragments/common::basicStaticResources}"></th:block>
    <th:block th:if="${head != null}">
      <th:block th:replace="${head}" />
    </th:block>
  </head>

  <body th:attr="data-theme=${theme.config.basic.defaultTheme ?: 'dark'}">
    <th:block th:replace="${body}" />
  </body>
</html>
