<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = ${singlePage.spec.title}, content = ~{::content}, head = ~{::head})}"
  data-fp="55018a22"
  data-theme-build="1770439357"
>
  <th:block th:fragment="head">
    <link rel="stylesheet" th:href="@{/assets/css/post-page.css}" />
  </th:block>
  <th:block th:fragment="content">
    <article class="post">
      <header class="post-header">
        <h1 class="post-title" th:text="${singlePage.spec.title}">页面标题</h1>
      </header>
      <div class="post-content" th:utext="${singlePage.content.content}">页面内容</div>
    </article>
  </th:block>
</html>
